<section class="hero">
    <div class="container mx-auto flex justify-around items-center pt-20">
        <div>
            <h6 class="text-lg"><em>Are you hungry></em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't Wait!</h1>
            <button class="order-btn rounded-full bg-orange-400 p-2 m-3">Order Now</button>
        </div>
        <div>
            <img src="/img/pizza.png" height="200px" width="396px" alt="basket">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8 px-5">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach((pizza)=>{ %>
            <div class="w-full md:w-64 mb-16">
                <img class="h-40 mb-4 mx-auto" src="/img/<%=pizza.image%>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%= pizza.name%></h2>
                    <span><%= pizza.size%></span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="s font-bold text-lg"><%= pizza.price%></span>
                        <!-- Using data attribute here to send pizza data to the ./resources/js/app.js -->
                        <button data-pizza="<%= JSON.stringify(pizza)%>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>   
        <%}) %>
    </div>    
</section>

<!-- <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerata</h2>
                <span>small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="s font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div> -->